<div class="row">
    <div class="small-12 columns">
        <p id="notice"><%= notice %></p>
    </div>
</div>

<div id="index-patch" class="row">
    <div class="small-8 columns">
        <a href="/"><h1>MICROBRUTE <span class="grey">Patches</span></h1></a>
    </div>
</div>


<div class="row">
    <div class="small-12 columns">
        <%= link_to 'New Patch', new_patch_path, {class: "grey"} %> <span class="orange">|</span> <%= link_to 'Favorites', patches_favs_path, {class: "grey"} %>
    </div>
</div>

<div class="row">
    <div class="small-6 columns">
        <%= form_for(patches_path, {:method => :get}) do |f| %>
            <%= f.text_field :query, :placeholder => "Search..." %>
            <%= submit_tag("Submit", {class: "button tiny"}) %>
        <% end %>
    </div>
</div>

<div class="row">
    <div class="small-12 columns">
        <div class="infinite-table">
            <table>
                <tbody class="page">
                    <%= render :partial => 'patch', :object => @patches %>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row">
    <div class="small-12 columns">
        <!-- < #link_to_next_page(@patches, 'Next Page', :remote => true) > -->
        <%= paginate @patches, :remote => true %>
    </div>
</div>

<div class="row">
    <div class="small-12 columns">
        <h5><small class="grey">This site is not affiliated with Arturia.  Special thanks to Brady Jacobsen for the configurator CSS from mbpatches.com.  Unlike mbpatches.com, this site is completely open source.  If you would like to contribute, you will find the code at <a href="https://github.com/dougsko/brutal_patches">https://github.com/dougsko/brutal_patches</a>.</small></h5>
    </div>
</div>
